@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');
/* Weights 400, 500, 600, 700, 800, 900 */

html, body, #root {
    height: 100%;
    font-family: Maven Pro;
}

.App {
    display: grid;
    height: 100%;
    grid-template: 1fr 1fr / min-content 1fr;
    grid-template-areas:
        "nav main"
        "nav main";
}

.Nav {
    grid-area: nav;
    background-color: #454372;
    display: flex;
    flex-direction: column;
}

.NavItem {
    display: flex;
    align-items: center;
    margin: 30px 20px;
    color: white;
}

.nav-link, .nav-link-active {
    text-decoration: none;
}

.nav-link-active {
    background-color: #2f2963;
}

.settings-nav-item {
    margin-top: auto;
    padding-top: 20px;
}

.closeButton-nav-item {
    margin: 0;
}

/* Button for the x icon */
#close-nav-button {
    background: none;
    border: none;
    color: white;
    height: 36px;
    width: 36px;
    cursor: pointer;
    padding: 0;
}

.Header {
    background-color: rgb(58, 58, 58);
    box-shadow: 0px 3px 12px 0 rgb(43, 43, 43);
}

/* Do not style main. */
.Main {
    grid-area: main;
    background-color: rgb(46, 46, 46);
    height: 100%;
}

.Home {
    box-sizing: border-box;
    padding: 20px;
    gap: 20px;
    overflow: auto;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: repeat(auto-fit, 200px);
}

#ta-name {
    margin: 4px 0;
}