@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');
/* Weights 400, 500, 600, 700, 800, 900 */

html, body, #root {
    height: 100%;
    font-family: Maven Pro;
}

.App {
    display: grid;
    grid-template: 100px 1fr / min-content 1fr;
    grid-template-areas: 
        "nav main"
        "nav main";
    height: 100%; 
}

.Nav {
    grid-area: nav;
    background-color: rgb(66, 93, 216);
    /* z-index: 2; */
    display: flex;
    flex-direction: column;
}

.NavItem {
    display: flex;
    align-items: center;
    margin: 30px 20px;
    color: white;
}

.NavItem > span {
    font-size: 28px;
    font-weight: 600;
    margin-right: 50px;
    margin-left: 20px;
}

.nav-link, .nav-link-active {
    text-decoration: none;
}

.nav-link-active {
    background-color: rgb(56, 80, 189);
}

.settings-nav-item {
    margin-top: auto;
    padding-top: 20px;
}

.closeButton-nav-item {
    margin: 0;
}

/* Button for the x icon */
#close-nav-button {
    background: none;
    border: none;
    color: white;
    height: 36px;
    width: 36px;
    cursor: pointer;
    padding: 0;
}

.Header {
    /*grid-area: header;*/
    background-color: rgb(58, 58, 58);
    box-shadow: 0px 3px 12px 0 rgb(43, 43, 43);
    /*z-index: 1;*/
}

.Main {
    grid-area: main;
}