@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');
/* Weights 400, 500, 600, 700, 800, 900 */

html, body, #root, .App {
    height: 100%;
    font-family: Maven Pro;
}

.App {
    display: grid;
    grid-template: 100px 1fr / 300px 1fr;
    grid-template-areas: 
        "nav header"
        "nav main";
    color: white;
    font-weight: 500;
}

.Nav {
    grid-area: nav;
    background-color: rgb(66, 93, 216);
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.NavItem {
    display: flex;
    align-items: center;
    margin: 30px 0;
}

.NavItem > span {
    font-size: 28px;
    font-weight: 600;
}

/* Icon to the left of the nav item text. */
svg.nav-item-icon {
    margin-right: 20px;
}

.settings-nav-item {
    margin-top: auto;
}

/* Button for the x icon */
#close-nav-button {
    background: none;
    border: none;
    color: white;
    height: 36px;
    width: 36px;
    cursor: pointer;
    padding: 0;
}

.Header {
    grid-area: header;
    background-color: rgb(58, 58, 58);
    box-shadow: 0px 3px 12px 0 rgb(43, 43, 43);
    z-index: 1;
}

.Main {
    grid-area: main;
    background-color: rgb(85, 85, 85);
}