@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');
/* Weights 400, 500, 600, 700, 800, 900 */

html, body, #root {
    height: 100%;
    font-family: Maven Pro;
}

.App {
    display: grid;
    height: 100%;
    grid-template: 1fr 1fr / min-content 1fr;
    grid-template-areas:
        "nav main"
        "nav main";
}

.Nav {
    grid-area: nav;
    background-color: #454372;
    display: flex;
    flex-direction: column;
}

.NavItem {
    display: flex;
    align-items: center;
    margin: 30px 20px;
    color: white;
}

.NavItem > span {
    font-size: 28px;
    font-weight: 600;
    margin-right: 50px;
    margin-left: 20px;
}

.nav-link, .nav-link-active {
    text-decoration: none;
}

.nav-link-active {
    background-color: #2f2963;
}

.settings-nav-item {
    margin-top: auto;
    padding-top: 20px;
}

.closeButton-nav-item {
    margin: 0;
}

/* Button for the x icon */
#close-nav-button {
    background: none;
    border: none;
    color: white;
    height: 36px;
    width: 36px;
    cursor: pointer;
    padding: 0;
}

.Header {
    background-color: rgb(58, 58, 58);
    box-shadow: 0px 3px 12px 0 rgb(43, 43, 43);
}

/* Do not style main. */
.Main {
    grid-area: main;
    background-color: rgb(46, 46, 46);
    height: 100%;
}

.ProjectPreview {
    width: 300px;
    height: 200px;
    overflow: hidden;
    display: grid;
    grid-template-rows: min-content 1fr;
    color: rgb(44, 44, 44);
    font-size: 14px;
    --project-background-col: #ef946c;
}

.Home {
    box-sizing: border-box;
    padding: 20px;
    gap: 20px;
    overflow: auto;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: repeat(auto-fit, 200px);
}

/*Project Preview Top Half*/
.Top {
    border-radius: 10px 10px 0 0;
    box-sizing: border-box;
    background-color: #F6F6F6;
    /* top right bottom left */
    padding: 10px 7px 10px 7px;
    box-shadow: rgba(0, 0, 0, 0.26) 0px 1px 4px;
    z-index: 1;
}

.bottom-row {
    display: flex;
    justify-content: space-between;
    margin: 4px 0;
}

#project-name {
    font-weight: 500;
    font-size: 18px;
}

#ta-name {
    margin: 4px 0;
}

#student-list {
    
}

#demo-date {
    border-radius: 10px;
    padding: 1px 8px;
    background-color: var(--project-background-col);
    box-shadow: rgba(0, 0, 0, 0.26) 0px 1px 4px;
}

/*Project Preview Bottom Half*/
.Bottom {
    /* top right bottom left */
    padding: 5px 7px 10px 7px;
    border-radius: 0 0 10px 10px;
    background-color: var(--project-background-col);
}
